img {

width: 200px;
height: auto;

}
body{
  text-align:center;
  background-color: #F5F1E8;
  color:black;
}
img{
  display: block;
  margin: 0 auto;
}
h1{
  color: #8A6A2F;  
}
a{
  color: blue;  
}


